[Unit]
Description=stonith-proxy-app
After=syslog.target
After=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=5
StartLimitInterval=200
StartLimitBurst=5
LimitNOFILE=40000
EnvironmentFile=-/etc/sysconfig/stonith-proxy
User=root
ExecStart=/usr/bin/java $JAVAARGS -jar /opt/stonith-proxy/stonith-proxy.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
