[Unit]
Description=stonith-proxy-app
After=syslog.target
After=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=5
StartLimitInterval=200
StartLimitBurst=5
LimitNOFILE=40000
nvironmentFile=-/etc/sysconfig/stonith-proxy
User=root
ExecStart=/usr/bin/java $JAVAARGS -jar /var/stonith-proxy/stonith-proxy-app.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
